<div class="cropper-example-1">
  <img src="https://raw.githubusercontent.com/fengyuanchen/cropper/master/assets/img/picture.jpg" alt="Picture">
</div>

<button class="btn btn-primary" id="replace-toggle" type="button">Toggle</button>
<div class="cropper-example-3">
  <img src="https://raw.githubusercontent.com/fengyuanchen/cropper/master/assets/img/picture.jpg" alt="Picture">
</div>
